{% include "main_head.html" %}

<div class="row mt-100">
  <div class="card p-50 w-30 m-auto">
    <form action="change_room_owner_password_action" method="post">
      <div class="form-heading p-20">Change Password </div>
        <div class="mt-20">
            <label>Old Password:</label>
            <input type="password" name="old_password" id="old_password" class="form-input" placeholder="Enter Old Password " required>
        </div>
      <div class="mt-20">
          <label>New Password:</label>
          <input type="password" name="password" id="password" class="form-input" placeholder="Enter New Password" required>
      </div>
      <div class="mt-40">
        <div class="">
          <input type="submit" value="Submit" class="btn">
        </div>
      </div>

    </form>
  </div>
</div>
