{% include "links.html" %}

<nav class="nav row">
     <div class="col-2"></div>
        <div class="col-1">
             <div > <img class="logo" src=" https://www.transparentpng.com/download/graduation-cap/-school-university-student-graduation-cap-with-diploma-transparent-photos-OI4lK5.png" ></div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row">
                <div class="nav-item"><a href="/" class="nav-link">HOME</a></div>
                <div class="nav-item"><a href="/admin" class="nav-link" >ADMIN</a></div>
                <div class="nav-item"><a href="/room_owner" class="nav-link" >ROOM OWNER</a></div>
                 <div class="nav-item"><a href="/member" class="nav-link" >MEMBER</a></div>
            </div>
        </div>
</nav>