{% include "links.html" %}

<nav class="nav row">
     <div class="col-1"></div>
        <div class="col-1">
             <div ><img class="logo" src=" https://www.transparentpng.com/download/graduation-cap/-school-university-student-graduation-cap-with-diploma-transparent-photos-OI4lK5.png" ></div>
        </div>
    <div class="col-10">
        <div class="row">
            <div class="nav-item"><a href="/member_home" class="nav-link">MEMBER HOME</a></div>
            <div class="nav-item"><a href="/view_room" class="nav-link">VIEW ROOMS</a></div>
            <div class="nav-item"><a href="/logout" class="nav-link" >LOGOUT</a></div>
        </div>
    </div>
</nav>